/* input {
  z-index: 1000;
} */

body, html {
  height: 100%;
  width: 100%;
  margin: 0 !important;
}

.App {
  background-color: bisque;
  height: 100vh;
}

#canvas {
  height: 1000px;
  width: auto;
}

#container {
  width: 20%;
  background-color: #37373d;
  border-radius: 10px;
  padding: 2rem;
}

.regular-text {
  font-size: 1.5rem;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spacer-h-m {
  width: 1rem;
}

.spacer-v-m {
  height: 1rem;
}